* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #bcabae;
}

body {
    background-color: #2d2e2e;
    text-align: center;
}

.container {
    margin-top: 40px;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    justify-content: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    color: #0f0f0f;
    background-color: blanchedalmond;
    font-size: 50px;

}

.reset_btn {
    background-color: #918487;
    color: black;
    font-size: 1rem;
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 1rem;
}

#msg_winner {
    color: white;
    font-size: 5vmin;
}

.msg {
    height: 30vmin;
}

#new-game {
    background-color: #918487;
    color: black;
    font-size: 1rem;
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 1rem;
}

.hide {
    display: none;
}